// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


tr.current-account td {
/*  background-color: #EEE;*/
  color: blue;
}

td.account-name {
  padding-right: 40px;
}
table#account-info {
  border-collapse: collapse;
  thead th {
    border-bottom: 1px solid #666;
  }
  th, td {
    padding: 5px 10px;
  }
}
table.account-list {
/*  $base-bg-color: #55B0ED;*/
  $base-bg-color: #83C5F2;
  border-collapse: collapse;
  @for $i from 0 through 4 {
    tr.account-level-#{$i} {
      td {
/*        background-color: lighten($base-bg-color, $i*10%);*/
        padding-top: (4-$i)*3px;
        padding-bottom: (4-$i)*3px;
        &.account-name {
          padding-left: 5px+20px*$i;
        }
        &.account-currency {
/*          padding-right: 5px+80px*$i;*/
        }
      } 
    }
  }
}
