/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
/*  margin-top: 5px;*/
  clear: both;
}

div.clear {
  clear: both;
}
th, td {
  padding: 0 5px;
}
table.center td {
  text-align: center;
}
input.date {
  width: 90px;
}

#transaction-entries-input {
  input#account_id {
    width: 120px;
  }
}

input.input-debit-amount {
  width: 100px;
}

@media (max-width: 799px) {
  input[type=text], input[type=password] {
    height: 30px;
  }
  input[type=submit] {
    height: 30px;
    min-width: 200px;
  }
}
div {
&.flash, &.error, &.alert, &.notice, &.success, &.info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
&.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
&.alert {border-color: #FBEED5; background-color: #FCF8E3; color: #C09853;}
&.error {border-color: #EED3D7; background-color: #F2DEDE; color: #B94A48; }
&.success{ border-color: #D6E9C6; background-color: #DFF0D8; color: #468847; }
&.info, &.notice, &.flash { border-color: #BCE8F1; background-color: #D9EDF7; color: #3A87AD; }
}
div.button {
  border-color: #AAA;
  box-shadow: 0 0 3px #AAA;
  outline: 0 none;
  background: -moz-linear-gradient(center top, #FFFFFF, #EBEBEB) repeat scroll 0 0 #F3F3F3;
  padding: 3px;

  background: rgb(228,228,228); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
ul#nav-help {
  float: right;
}
div.link-button {
  background-color: #E3E3E3;
  border-radius: 6px;
  border: 1px solid #AAA;
  padding: 8px;
  margin: 5px;
  float: left;
}
div#container {
  padding: 0 2px;
  width: 100%;
  max-width: 800px;
  @media (min-width: 800px) {
    padding: 0 20px;
  }
}
label {
/*  font-weight: bold;*/
}
div#transaction-quick-create {
  border-radius: 5px;
  background-color: #DDD;
  padding: 10px;
  width: 100%;

  @media (max-width: 799px) {
    input[type=text] {
      width: 100%;
    }
  }

  input.transaction-tostring {
    @media (min-width: 800px) {
      width: 300px;
    }
  }
}

#quick-create-form {
  @media (max-width: 799px) {
    span.field {
      display: block;
      margin-bottom: 3px;

      label:first-child {
        display: block;
      }
    }
  }
}

table.transaction-list {
  border-collapse: collapse;
  tr.transaction-info td {
    border-top: 1px solid #666;
  }
}
ul#form-validation-messages {
  border: 2px solid red;
  background-color: #FFFFBF;
  font-weight: bold;
}
div#help {
  position: absolute;
  z-index: 10;
  width: 700px;
  background-color: #333;
  color: white;
  top: 50px;
  left: 50px;
  padding: 20px;
  border-radius: 10px;
  a {
    color: white;
  }
}
table#keyboard_shortcuts-part1 {
  margin-left: 10px;
}
table#keyboard_shortcuts-part2 {
  float: right;
  margin-right: 20px;
}
td.help-key {
  color: yellow;
  text-align: right;
}
div#close_help_button {
  float: right;
  font-size: 1.3em;
  padding: 5px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
  }

  li.ui-menu-item {
    padding: 5px; /* !important;*/
  }
}
.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

/* auto complete fare */
table.detailTable td {
  word-break: break-all;
}

#hint-details {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  table, tr, td, th {
    border: 1px solid #666;
  }
}

table#hint-container {
  background-color: #E3E3E3;
  padding: 5px;
  float: left;
  margin-left: 20px;
  td {
    padding: 3px;
  }
}

#transaction-meta-data {
  float: left;
}
