// Place all the styles related to the transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.transaction-list {
  td.top {
    vertical-align: top;
  }
  td.date        { width:  90px; }
  td.description { width: 270px; }
  td.account     { width: 210px; }
  td.amount      { width: 110px; }
}

td.currency {
  text-align: right;
}
td.currency.negative a{
  color: red;
}
