<div id="help" style="display: none;">
  <div id="close_help_button"><%= link_to 'Close', '#' %></div>
  <div class="clear"></div>
  <h1>Keyboard Shortcuts</h1>
  <table id="keyboard_shortcuts">
    <tr><td class="help-key">a</td><td class="help-description">Show Accounts</td></tr>
    <tr><td class="help-key">Shift+a</td><td class="help-description">Create Account</td></tr>
    <tr><td class="help-key">t</td><td class="help-description">Show Transactions</td></tr>
    <tr><td class="help-key">Shift+t</td><td class="help-description">Create Transaction</td></tr>
    <tr><td class="help-key">q / Tab</td><td class="help-description">Focus on "Quick Create Transaction"</td></tr>
    <tr><td class="help-key">?</td><td class="help-description">Show this help window</td></tr>
  </table>
  <h1>Brief Explanation on Debit +ve/-ve sign</h1>
  <p>Assets - Liabilities = Income - Expense + Equity<br />
  (Cash + Bank Account + Octopus + Receivables) - (loans) = (Salary + Interest Income) - (Transportation + Dinner + Whatever)</p>
  <p>Positive debit means an increase in the left hand side of the equation. All amounts in the transactions are entered as debit. </p>

  <p>For a journey of West Rail from Yuen Long to Hung Hom using Octopus, it means:</p>
  <ol><li>A decrease of $18.6 in Asset:Octopus;</li><li>An increase of $18.6 in Expense:Transportation.</li></ol>
  <p>You will enter 18.6 for Transportation (debit) and -18.6 for Octopus (credit)</p>
</div>
