<div id="help" style="display: none;">
  <div id="close_help_button"><%= link_to 'Close', '#' %></div>
  <div class="clear"></div>
  <h1>Keyboard Shortcuts</h1>
  <table id="keyboard_shortcuts">
    <tr><td class="help-key">a</td><td class="help-description">Show Accounts</td></tr>
    <tr><td class="help-key">Shift+a</td><td class="help-description">Create Account</td></tr>
    <tr><td class="help-key">t</td><td class="help-description">Show Transactions</td></tr>
    <tr><td class="help-key">Shift+t</td><td class="help-description">Create Transaction</td></tr>
    <tr><td class="help-key">q / Tab</td><td class="help-description">Focus on "Quick Create Transaction"</td></tr>
    <tr><td class="help-key">?</td><td class="help-description">Show this help window</td></tr>
  </table>
  <h1>Brief Explanation on Debit +ve/-ve sign</h1>
  Assets + Liabilities = Income - Expense + Equity
</div>
