  <div class="nav_links">
    <ul id="nav">
      <li class="accounts"><%= link_to 'Accounts', accounts_path %></li>
      <li class="transactions"><%= link_to 'Transactions', transactions_path %></li>
    </ul>
  </div>
  <div class="clear"></div>
