<%= render 'transactions/quick_create' %>
<h1>Listing accounts</h1>

<table class="account-list">
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Current Balance</th>
  </tr>

<%= render :partial => 'account',:collection => Account.root_accounts, :locals => {:level => 0} %>
</table>

<br />

<%= link_to 'New Account', new_account_path %>
